RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^sub-categoria-de-(.*)$ subcategorias.php?nome=$1 [L]
RewriteRule ^produto-(.*)$ produtoDetalhe.php?nome=$1 [L]
RewriteRule ^produtos-(.*)$ produtosLista.php?nome=$1 [L]
RewriteRule ^promocao-(.*)$ promocao.php?nome=$1 [L]